.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #8fcdfd, #e08ff6);
}

.login-box {
  background: #ead3ff;
  width: 100%;
  max-width: 380px;
  padding: 100px 50px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;      
  margin: 0 auto;         
}

.login-title {
  font-size: 38px;
  margin-bottom: 12px;
  font-weight: 700;
}

.login-subtitle {
  color: #444;
  margin-bottom: 25px;
  font-size: 22px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-group {
  width: 100%;             
  display: flex;           
  flex-direction: column;  
  text-align: left;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
}

.input-group input {
  width: 93%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 17px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #7b5bfc;
  box-shadow: 0 0 4px #c9b8ff;
}

.login-bt{
  width: 100%;
}

.signup-text {
  margin-top: 10px;
  color: #444;
  font-size: 14px;
}

.signup-text span {
  color: #6a4cff;
  font-weight: 600;
  cursor: pointer;
}
