
body {
  background: linear-gradient(135deg, #ead3ff, #eaeaea);
}

/*************** NAVBAR *****************/
.navbar {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1000;
    background: white;
  padding:8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  margin-left: auto;
  margin-right: 55px;

}

.login-btn{
  margin-right: 50px;
  margin-left: 25px;
  transform: translateX(-35px);
}


/*************** HERO SECTION *****************/
.hero {
  background: linear-gradient(140deg, #009dec, #fc67cf);
  color: white;
  text-align: center;
  border-radius: 25px;
  padding: 170px 20px;
  min-height: 350px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 120px;
}

/* Floating Animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-18px); }
  100% { transform: translateY(0px); }
}

.hero-title {
  font-size: 80px;
  font-weight: bold;
}

.hero-sub {
  margin-top: 80px;
  font-size: 30px;
  opacity: 0.9;
}

.hero-btn {
  margin-top: 20px;
  background: white;
  color: black;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  transform: scale(1.05);
}



/*************** FEATURES *****************/
.features {
  padding: 50px 20px;
  text-align: center;
}
.h3{
  font-size: 25px;
}

.section-title {
  font-size: 55px;
  font-weight: bold;
}

.feature-grid {
  max-width: 1400px;
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 50px;
}

.card {
  background: #fff;
  padding: 50px;
  border-radius: 20px;
  min-height: 160px;     /* ← height बढ़ा दी */
  display: flex;
  flex-direction: column;
  justify-content: center;   /* content को center में रखेगा */
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
  margin: 10px 0;
}

.card:hover {
  transform: translateY(-9px);
}

/*************** CTA *****************/
.cta {
  background: linear-gradient(120deg, #8ba1b5, #b6c8d8);
  padding: 110px;          /* ↑ padding बढ़ाया */
  border-radius: 25px;
  margin: 20px;
  color: black;
  min-height: 300px;      /* ← CTA height बढ़ाई */
  display: flex;
  flex-direction: column;
  justify-content: center; /* content middle में आएगा */
}


.cta-title {
  font-size: 80px;
  font-weight: bold;
}

.cta-text {
  margin-top: 20px;
  max-width: 600px;
  margin-bottom: 55px;
  font-size: 20px;
}

.cta-btn {
  margin-top: 20px;
}

.footer {
  background: #0d1126; 
  color: white;
  padding: 60px 40px;
  border-radius: 30px;
  max-width: 1780px;
  margin: 80px auto 40px auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* Brand section */
.footer-brand h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.footer-brand p {
  opacity: 0.7;
  line-height: 1.5;
  font-size: 25px;
}

/* Icons */
.footer-icons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.footer-icons i {
  font-size: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.footer-icons i:hover {
  opacity: 1;
}

/* links area */
.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  margin-bottom: 12px;
  font-size: 25px;
}

.footer-links a {
  display: block;
  color: white;
  opacity: 0.7;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-links a:hover {
  opacity: 1;
}

/* Bottom copyright */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  opacity: 0.6;
  font-size: 14px;
}


/* get started button */ 
.cssbuttons-io-button {
  background: #009dec;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #fc67cf;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #fc67cf;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #fc67cf;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.hero-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;   
  margin-top: 25px;
}


/* Circles */
.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  animation: float 5s infinite ease-in-out;
}

/* ROW 1 – top area */
.c1 { width: 40px; height: 40px; background: #fff; top: 40px; left: 80px; animation-delay: 0.2s; }
.c2 { width: 60px; height: 60px; background: #000; top: 60px; left: 120px; opacity: 0.3; animation-delay: 0.4s; }
.c3 { width: 80px; height: 80px; background: #ffc1d8; top: 100px; left: 55%; animation-delay: 0.1s; }
.c4 { width: 20px; height: 20px; background: #c7e1ff; top: 150px; left: 20%; animation-delay: 0.6s; }
.c5 { width: 50px; height: 50px; background: #000; top: 180px; right: 57%; opacity: 0.4; animation-delay: 0.3s; }

.c6 { width: 40px; height: 40px; background: #fff; top: 770px; left: 80px; animation-delay: 0.2s; }
.c7 { width: 60px; height: 60px; background: #000; top: 67px; right: 370px; opacity: 0.9; animation-delay: 0.4s; }
.c8 { width: 80px; height: 80px; background: #1ff0df; top: 220px; left: 22%; animation-delay: 0.1s; }
.c9 { width: 20px; height: 20px; background: #c7e1ff; top: 150px; left: 20%; animation-delay: 0.6s; }
.c10 { width: 50px; height: 50px; background: #000; top: 180px; right: 5%; opacity: 0.6; animation-delay: 0.3s; }


/* ROW 2 – mid area */
.c11 { width: 40px; height: 40px; background: #fff; top: 40%; left: 10%; animation-delay: 0.2s; }
.c12 { width: 60px; height: 60px; background: #000; top: 605%; right: 490%; opacity: 0.3; animation-delay: 0.4s; }
.c13 { width: 80px; height: 80px; background: #ffc1d8; top: 565%; right: 12%; animation-delay: 0.1s; }
.c14 { width: 20px; height: 20px; background: #c7e1ff; top: 50%; left: 45%; animation-delay: 0.6s; }
.c15 { width: 50px; height: 50px; background: #000; top: 38%; right: 30%; opacity: 0.4; animation-delay: 0.3s; }

/* ROW 3 – bottom area */
.c16 { width: 40px; height: 40px; background: #f46e6e; bottom: 140px; left: 5%; animation-delay: 0.99s; }
.c17 { width: 60px; height: 60px; background: #000; bottom: 180px; right: 2%; opacity: 0.3; animation-delay: 0.4s; }
.c18 { width: 80px; height: 80px; background: #ffc1d8; bottom: 220px; left: 65%; animation-delay: 0.1s; }
.c19 { width: 20px; height: 20px; background: #5c93d2; bottom: 90px; right: 10%; animation-delay: 0.6s; }
.c20 { width: 50px; height: 50px; background: #000; bottom: 60px; left: 75%; opacity: 0.4; animation-delay: 0.3s; }
