.mood-card {
  background: white;
  border-radius: 35px;
  padding: 28px 30px;
  margin-top: 45px;
  box-shadow: 0px 6px 24px rgba(0,0,0,0.09);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mood-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  background: linear-gradient(
    90deg,
    rgba(35,150,233,1) 0%,
    rgba(243,105,208,1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.mood-item {
  background: #f6f6f6;
  padding: 18px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  font-size: 20px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.mood-item.selected {
  background: #d6f5d9;
}
.edited-tag {
  margin-left: 6px;
  font-size: 12px;
  opacity: 0.6;
  font-style: italic;
}

.mood-item.disabled {
  opacity: 0.4;
  pointer-events: none;
}
