.donut-card {
  background: white;
  border-radius: 22px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
 width: 420px;
  height: 420px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 45px 50px 45px 40px; 
}

.donut-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  background: linear-gradient(
    90deg,
    rgba(35,150,233,1) 0%,
    rgba(243,105,208,1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.donut-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.donut-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut-label {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  transform: translateY(2px); /* tiny vertical balance */
}
