/* FULL PAGE */
.signup-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #8fcdfd, #e08ff6);
}

/* BOX */
.signup-box {
  background: #ead3ff;
  width: 400px;
  padding: 35px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

/* TITLE */
.signup-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 5px;
}

.signup-subtitle {
  font-size: 22px;
  color: #555;
  margin-bottom: 25px;
}

/* FORM */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* INPUT */
.input-group {
  text-align: left;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
}

.input-group input {
  width: 93%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: 0.25s;
}

.input-group input:focus {
  border-color: #8e60ff;
  box-shadow: 0 0 5px #c4a7ff;
}

/* BUTTON */
.signup-btn {
  width: 100%;
  
}

/* SWITCH TEXT */
.signup-switch {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

.signup-switch span {
  color: #7a4bff;
  font-weight: 600;
  cursor: pointer;
}
